<div style="resize:both">
  <div id="player" width="100%" height="100%">
    <youtube-player
      [videoId]="id"
      (ready)="savePlayer($event)"
      (change)="onStateChange($event)"
    ></youtube-player>
    <!--<iframe id="form-iframe"  src="https://www.youtube.com/embed/5StzaSBF9nY" frameborder="0" allowfullscreen
      (load)="onload($event)"
    >
    </iframe>-->
  </div>
  <div class="stats">
    <div>
      Width: {{width}} Height: {{height}} Volume: {{width * height}}
    </div>
    <div>
      Screen Width: {{getScreenWidth()}} Screen Height: {{getScreenHeight()}} Screen Volume: {{getScreenVolume()}}
    </div>
    <div>
      Percentage of screen: {{getVideoVolume()}}
    </div>
  </div>
</div>